@{

}
@*TELA FORNECEDORES*@
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<link rel="stylesheet" href="~/css/category.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/suplyer.css" asp-append-version="true" />

@* modal cadastro *@
<div class="modal fade" id="modalAdicionaFornecedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Fornecedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="closeModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body align-content-center">
                <input class="form-control me-1 mb-4" type="text" placeholder="Nome" aria-label="Search" id="txtNomeFornecedor">
                <input class="form-control me-1 mb-4" type="email" placeholder="Email" aria-label="Search" id="txtEmailFornecedor">
                <input class="form-control me-1 mb-4" type="tel" placeholder="Contato" aria-label="Search" id="txtTelefoneFornecedor">
                <input class="form-control me-1" type="text" placeholder="Descrição" aria-label="Search" id="txtDescricaoFornecedor">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnFechar">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="" style="background-color: #fc8a04">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

@* modal edição *@
<div class="modal fade" id="modalEditaFornecedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Fornecedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="closeModalEdit">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control me-1 mb-4" type="search" placeholder="id" aria-label="Search" id="txtIdCategoria" style="display: none">
                <input class="form-control me-1 mb-4" type="search" placeholder="Nome" aria-label="Search" id="txtNomeFornecedorEdit">
                <input class="form-control me-1" type="search" placeholder="Descrição" aria-label="Search" id="txtDescricaoFornecedorEdit">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnFecharEdit">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="" style="background-color: #fc8a04">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>

<div style="background-color: white">
    <div>
        <nav class="row align-content-center mt-5 mb-5">

            <strong class="col-lg-1">Fornecedores</strong>
            <div class="d-flex col-lg-8">
                <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search" id="txtSearch">
                <button class="btn" style="background-color: #fc8a04" onclick="getSuplyers()">
                    <i class="fa fa-search fa-sm" style="color: white"></i>
                </button>
            </div>
            <button type="button" class="btn col-lg-3" style="background-color: #fc8a04; color:white" id="btnAdicionarCategoria">
                <i class="fa fa-plus nav-icon" style="color: white"></i>
                Adicionar Novo Fornecedor
            </button>

        </nav>
    </div>
    <div class="mt-5">
        <strong>Listagem de Fornecedores</strong>
        <table class="mt-5" style="width: 100%; background-color:white">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>PHONE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="dataSource">
                <tr><td colspan="4"><center><b>Nenhum Fornecedor Encontrado</b></center></td></tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    document.getElementById('btnAdicionarCategoria').addEventListener('click', function () {
        $('#modalAdicionaFornecedor').modal('show');
    });
    document.getElementById('btnFechar').addEventListener('click', function () {
        $('#modalAdicionaFornecedor').modal('hide');
    });
    document.getElementById('closeModal').addEventListener('click', function () {
        $('#modalAdicionaFornecedor').modal('hide');
    });
    document.getElementById('btnFecharEdit').addEventListener('click', function () {
        $('#modalEditaFornecedor').modal('hide');
    });
    document.getElementById('closeModalEdit').addEventListener('click', function () {
        $('#modalEditaFornecedor').modal('hide');
    });
</script>
<script src="~/js/suplyer.js"></script>
